extends layout 

block content
    - const d = (new Date().getDate() - 1);
    if data == 'none'
        main.container
            p Assalamualaikum

    else
            main.container
                p #{data[d].day}, #{data[d].date} - #{zone}
                table
                    thead
                        tr
                        th(scope='col') Subuh
                        th(scope='col') Zuhur
                        th(scope='col') Asar
                        th(scope='col') Maghrib
                        th(scope='col') Isha'
                    tbody
                        tr
                        td #{data[d].fajr}
                        td #{data[d].dhuhr}
                        td #{data[d].asr}
                        td #{data[d].maghrib}
                        td #{data[d].isha}
            
            main.container
                - var i = 0;
                each val in data
                    table
                        thead
                            p #{data[i].day} - #{data[i].date}
                            tr
                            th(scope='col') Subuh
                            th(scope='col') Zuhur
                            th(scope='col') Asar
                            th(scope='col') Maghrib
                            th(scope='col') Isha'
                        tbody
                            tr
                            td #{data[i].fajr}
                            td #{data[i].dhuhr}
                            td #{data[i].asr}
                            td #{data[i].maghrib}
                            td #{data[i].isha}
                            - i++;

                


