extends layout 

block content

    - var numberDay = day;
    if data == 'none'
        main.container
            p #{ayats}
            br
            p #{translations}
    else
            main.container
                p #{data[numberDay].day}, #{data[numberDay].date} - #{zone}
                table
                    thead
                        tr
                        th(scope='col') Subuh
                        th(scope='col') Zuhur
                        th(scope='col') Asar
                        th(scope='col') Maghrib
                        th(scope='col') Isha'
                    tbody
                        tr
                        td #{data[numberDay].fajr}
                        td #{data[numberDay].dhuhr}
                        td #{data[numberDay].asr}
                        td #{data[numberDay].maghrib}
                        td #{data[numberDay].isha}
                        - numberDay++;
            
            main.container
                - var j = 0;
                while j < 7
                        table
                            thead
                                p #{data[numberDay].day} - #{data[numberDay].date}
                                tr
                                th(scope='col') Subuh
                                th(scope='col') Zuhur
                                th(scope='col') Asar
                                th(scope='col') Maghrib
                                th(scope='col') Isha'
                            tbody
                                tr
                                td #{data[numberDay].fajr}
                                td #{data[numberDay].dhuhr}
                                td #{data[numberDay].asr}
                                td #{data[numberDay].maghrib}
                                td #{data[numberDay].isha}
                                - numberDay++;
                                - j++;

                


